@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Thin.woff2') format('woff2'),
        url('./fonts/Onest-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Light.woff2') format('woff2'),
        url('./fonts/Onest-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Regular.woff2') format('woff2'),
        url('./fonts/Onest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Medium.woff2') format('woff2'),
        url('./fonts/Onest-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-ExtraLight.woff2') format('woff2'),
        url('./fonts/Onest-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-SemiBold.woff2') format('woff2'),
        url('./fonts/Onest-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Bold.woff2') format('woff2'),
        url('./fonts/Onest-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-Black.woff2') format('woff2'),
        url('./fonts/Onest-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('./fonts/Onest-ExtraBold.woff2') format('woff2'),
        url('./fonts/Onest-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Black.woff2') format('woff2'),
        url('./fonts/Gilroy-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-BlackItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
        url('./fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ExtraBoldItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-BoldItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('./fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Heavy.woff2') format('woff2'),
        url('./fonts/Gilroy-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-HeavyItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Light.woff2') format('woff2'),
        url('./fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
        url('./fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-MediumItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-LightItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
        url('./fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: './fonts/Gilroy-RegularItalic';
    src: url('./fonts/Gilroy-RegularItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('./fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-SemiBoldItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Thin.woff2') format('woff2'),
        url('./fonts/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-ThinItalic.woff2') format('woff2'),
        url('./fonts/Gilroy-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('./fonts/Gilroy-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    color: #000000;
    line-height: 30px;
    font-family: 'Onest';
}

.container {
    max-width: 1540px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 50px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Onest';
}

h1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 95px;
}

h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
    text-align: center;
    color: #548BF6;
}

h3 {
    font-weight: 400;
    font-size: 50px;
    line-height: 64px;
}

h4 {
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
}

h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    -webkit-user-select: none;
    user-select: none;
}

span {
    color: #1379FF;
    font-weight: 700;
    line-height: 100%;

}

li {
    font-family: 'Onest';
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    list-style: none;
}

p {
    font-family: 'Onest';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.bg-color {
    background-color: #EFF6FF;
}

.btn {
    display: flex;
    background-color: #0767DF;
    width: max-content;
    border-radius: 92px;
    border: 1px solid #005eb8;
    gap: 10px;
    padding: 12px 24px;
    font-family: 'Onest';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    transition: all 0.4s ease;
}

.client-box {
    border-radius: 16px;
    padding: 30px;
    gap: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 0px #0000001A;
}

.box-common {
    border-radius: 24px;
    overflow: hidden;
    justify-content: space-between;
}

.self {
    align-self: flex-start;
}

a {
    color: #181818;
    text-decoration: none;
    transition: all 0.4s ease;
}

a:hover {
    color: #0767DF;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navbar */
.navbar-section {
    border-bottom: 1px solid #00000033;
}

.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    gap: 50px;
}

.logo,
.f-logo {
    width: max-content;
    display: flex;
}

.navlinks {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 50px;
}

.navlinks ul {
    display: flex;
    gap: 50px;
    list-style: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn:hover,
.form_btn:hover {
    background-color: white;
    color: #005eb8;
    border: 1px solid #005eb8;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    display: none;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(-5px, 4px);
    background-color: #005eb8;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -17px);
    background-color: #005eb8;
}

/* Hero Banner */
.lorem_main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0px 120px;
    gap: 104px;
}

.lorem_containt {
    flex: 1;
    gap: 30px;
}

.lorem_img {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 48.5%;
}

.lorem_img1 {
    display: flex;
    align-self: flex-start;
    position: absolute;
    top: -20px;
    left: -100px;
    width: 30.93%;
}

.lorem_img2 {
    display: flex;
    position: absolute;
    top: 50px;
    right: -70px;
    align-self: flex-end;
    width: 23%;
}

.lorem_img3 {
    display: flex;
    align-self: flex-start;
    position: absolute;
    bottom: 30px;
    left: -60px;
    width: 18.185%;
}

/* Website Logo */
.web-logo {
    padding: 80px 0px 120px;
}

.web-logo-main {
    display: flex;
    filter: grayscale(1);
    align-items: center;
}

/* About Us */
.about-us-main {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about-us-img-contain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
        width: 47.223%;
}

.about-us-img1 {
    display: flex;
    align-self: flex-start;
    position: absolute;
    top: 20px;
    right: -40px;
    width: 16.03%;
}

.about-us-img2 {
    display: flex;
    align-self: flex-start;
    position: absolute;
    bottom: 75px;
    left: -89px;
    width: 31.03%;
}

.about-us-main-contain {
    position: relative;
    flex: 1;
    gap: 30px;
}


.comman-btn {
    display: inline-flex;
    border-radius: 100px;
    border: 1px solid #00000033;
    padding: 10px 20px;
}

/* Score */
.score-main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
    border-radius: 24px;
    padding: 80px 0px 202px;
    flex-wrap: wrap;
}

.experience {
    width: calc((100% - (50px * 3))/4);
    align-self: flex-start;
    text-align: center;
    gap: 8px;
    padding: 30px;
    box-shadow: 0px 0px 17px 0px #0000001A;
    border-radius: 24px;
}

.experience:nth-child(even) {
    background-color: #548BF6;
    color: #FFFFFF;
    margin-top: 50px;
}

.experience:nth-child(even) h2 {
    color: #FFFFFF;
}

.revenue h2 {
    color: #FFFFFF;
}

/* Our Service */
.our-service {
    width: 41.25%;
    gap: 30px;
}

.our-service-section {
    padding-bottom: 38px;
}

.heading-h2 {
    gap: 10px;
    align-items: flex-start;
}

.service-main {
    display: flex;
    gap: 60px;
    align-items: center;
}

.service-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    flex: 1;
}

.number {
    position: absolute;
    margin: 24px;
    border-radius: 16px;
    padding: 18px 23px;
    background: #FFFFFF;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.heading-4 {
    padding: 24px;
    gap: 8px;
    border: 1px;
}

.heading-4 h5 {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.heading-4 p {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.service-img1 {
    align-self: flex-end;
}

.box1 {
    gap: 21px;
    background: linear-gradient(128.31deg, rgba(245, 225, 194, 0.7) 0%, rgba(245, 225, 194, 0.2) 100%);
}

.box2 {
    gap: 65px;
    background: linear-gradient(128.31deg, rgba(251, 215, 212, 0.7) 0%, rgba(251, 215, 212, 0.2) 100%);
    grid-row: span 2;
}

.box3 {
    gap: 70px;
    background: linear-gradient(128.31deg, rgba(174, 229, 189, 0.7) 0%, rgba(174, 229, 189, 0.2) 100%);
    grid-row: span 2;
}

.box4 {
    gap: 35px;
    background: linear-gradient(128.31deg, rgba(186, 201, 242, 0.7) 0%, rgba(186, 201, 242, 0.2) 100%);
}

/* clients */
.clients-test {
    position: relative;
    z-index: 1;
    background-image: url(./images/Rectangle\ 1525.png);
}

.clients-test::before {
    content: '';
    position: absolute;
    background-image: url(./images/client-img.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}

.cilent-main1 {
    display: flex;
    align-items: center;
    gap: 202px;
}

.clients-contain h2 {
    color: black;
    font-weight: 400;
}

.clients-contain {
    width: 44.9%;
    padding: 72px 0px;
    gap: 16px;
    align-items: flex-start;
}

.client-img {
    display: flex;
    color: #7A7A7A;
    font-weight: 400;
    font-size: 21.36px;
    line-height: 32.03px;
    align-items: center;
    gap: 21px;
}

.client-main2 {
    padding: 36px 0px 120px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.client-main-3 {
    display: flex;
    flex-direction: column;
    gap: 75px;
    align-items: end;
    flex: 1;
}

.client-1 {
    align-self: end;
    width: 29.94%;
}

.client-2 {
    width: 84.8%;
}

.client-3 {
    width: 34.098%;
}

.client-4 {
    width: 52.61%;
}

.pra {
    gap: 15px;
}

/* frequentliy */
.main-frequentliy-qa {
    display: flex;
    gap: 80px;
    padding: 120px 0px;
}

.frequently-contain {
    width: 40.49%;
    gap: 16px;
    align-items: flex-start;
}

.fqa-main {
    flex: 1;
    gap: 16px;
}

.heading {
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 0px 12px 0px #00000014;
    gap: 8px;

}

.qa-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 50px;
}

.heading p {
    width: 71.2%;
    font-family: 'Onest';
    font-weight: 300;
    font-size: 18px;
}

.qa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
    padding: 16px;
    box-shadow: 0px 0px 12px 0px #00000014;
}

.heading-h5 {
    line-height: 30px;
}

.fqa-main .heading img {
    transition: all 0.4s ease;
}

.fqa-main .heading.active img {
    transform: rotate(180deg);
}


/* contact us */
.contact-us-section {
    padding: 120px 0px;
}

.contact-us-main {
    width: 100%;
    display: flex;
    gap: 80px;
}

.contact-us {
    gap: 30px;
    width: 47.23%;
    align-items: start;
}

.contact a{
    font-size: 20px;
    line-height: 30px;
}

.contact-details {
    gap: 24px;
}

/* Form */
.form_details {
    flex: 1;
    gap: 24px;
    border-radius: 24px;
    padding: 24px;
    border-width: 1px;
    border: 1px solid #0000004D;
    background-color: #FFFFFF;
}

label {
    font-family: 'Onest';
    font-weight: 400;
    font-size: 18px;
}

.full_name {
    display: flex;
    gap: 24px;
}

.name {
    width: 100%;
    gap: 8px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact-us p {
    max-width: 546px;
}

input,
textarea {
    border-radius: 10px;
    padding: 14px;
    border-width: 1px;
    border: 1px solid #D5D5D5;
    resize: none;
}

textarea {
    height: 127px;
}

.form_btn {
    font-family: 'Onest';
    font-weight: 600;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px 24px;
    background-color: #1379FF;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #005eb8;
    transition: all 0.4s ease;
}

.placeholder {
    font-family: 'Onest';
    font-weight: 400;
    font-size: 16px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Footer */
.footer-section {
    display: flex;
    justify-content: space-between;
    padding: 60px 0px 100px;
    gap: 50px;
}

.social-logo {
    display: flex;
    gap: 16px;
}

.social:hover img {
    transform: scale(1.2);
}

.social img {
    transition: all 0.3s ease;
}

.social {
    width: 40px;
    height: 40px;
    background-color: #0767DF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-connection {
    gap: 16px;
}

.footer-details {
    width: 65.42%;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    gap: 30px;
    flex: 1;
}

.list {
    gap: 16px;
}

.list ul {
    gap: 12px;
}

/* Copy Right */
.copy-right {
    text-align: center;
    padding: 20px;
}

.on-point-marketing-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -80px;
    z-index: -1;
}

hr {
    opacity: 0.2;
    background: #0000004D;
}